/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

// /* Utilidad de fondo degradado para TODAS las vistas */
// .app-gradient {
//   position: relative;
//   min-height: 100%;
//   background: linear-gradient(
//     135deg,
//     #1a1a1a 0%,
//     #aa62b3 12%,
//     #6d2d86 32%,
//     #ee5e9f 48%,
//     #f72585 100%
//   );
// }

// /* Hace el content transparente para que se vea el degradado */
// ion-content {
//   --background: transparent;
// }

// /* Toolbar oscuro translúcido (como en mockup) */
// .toolbar-dark {
//   --background: rgba(26, 26, 26, 0.85);
//   --color: #fff;
//   --border-color: transparent;
//   backdrop-filter: blur(4px);
// }

// /* Botón primario estilo “Entrar/Confirmado” */
// .btn-primary-gradient {
//   --background: linear-gradient(90deg, var(--brand-pink), var(--brand-magenta));
//   --color: #fff;
//   --border-radius: 14px;
//   font-weight: 700;
// }

// /* Botón redondeado “Cancelar” (coral) */
// .btn-cancel {
//   --background: #e85c58;
//   --color: #fff;
//   --border-radius: 999px;
//   font-weight: 700;
// }

/* Estilos globales para ion-alert */
.custom-alert {
  --width: 95%;
  --max-width: 400px;
  --border-radius: 16px;
  --background: #fff;

  .alert-title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #6d2d86;
  }

  .alert-input {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    margin: 6px 0;
    font-size: 16px;
  }

  .alert-button {
    font-weight: 600;
    text-transform: capitalize;
  }

  .alert-button-role-cancel {
    color: #999;
  }

  .alert-button:nth-child(2) {
    color: #6d2d86;
  }
}

.custom-alert .alert-message {
  font-size: 14px;
  margin-top: -10px;
  color: #907492;
  text-align: center;
}
